<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <title>Consultar Medicos</title>
  </head>
  <body>
    <div id="contenido">
        <!--La Cabecera-->
        <header>
          <div id="logotipo">
            <h1>Consultar Medicos</h1>
          </div>
          <div id="buscar">
              <label for="buscar">Digite la cédula del médico a buscar: </label>
              <input type="text" name="buscar" id="buscar" />
              <input type="button" value="Buscar"/>
          </div>
        </header>
        <!--Fin de Cabecera-->
        <aside>
          <nav>
            <h4>Consultar Médicos</h4>
            <div>
              <a href="registrarMedicos.html">Home Administrador</a>
              <a href="administrarMedicos.html">Modificar Médicos</a>
              <a href="consularMedicos.html">Consultar Médicos</a>
            </div>
          </nav>
    
        </aside>
    </div>
  </body>
</html>
