<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../public/css/styleLogin.css">
  <link rel="icon" type="favicon/x-icon" href="../public/img/medico.png" />
  <title>Sistema de Vacunación Covid-19 </title>
</head>
<body>
  <div class="login">
    <div class="heading">
      <h2>Iniciar Sesión</h2>
      <form action="#">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="Nombre de Usuario">
        </div>
        <br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Contraseña">
        </div>
        <br>
        <center>
          <button type="submit" class="boton">Iniciar Sesión</button>
        </center>
      </form>
    </div>
  </div>
</body>
</html>
