<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link rel="stylesheet" href="../public/css/responsiveRegistrar.css"/>
    <link rel="icon" type="favicon/x-icon" href="../public/img/medico.png" />
    <title>Registrar Médicos</title>
  </head>
  <body>
    <!-- AQUI EMPIEZA EL MENU  -->
    <input type="checkbox" id="check" />
    <label for="check">
      <arial class="fas fa-bars" id="btn">☰</arial>
      <arial class="fas fa-times" id="cancel">☰</arial>
    </label>
    <aside class="sidebar">
      <img src="../public/img/escu.png" id="doc" width="150px" />
      <header>Administador</header>
      <ul>
        <li>
          <a href="#"><i class="fas fa-qrcode"></i>Inicio</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-link"></i>Agregar Médicos</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-stream"></i>Modificar Médicos</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-calendar-week"></i>Consultar Médicos</a>
        </li>
        <li>
          <a href="#"><i class="fas fa-calendar-week"></i>Cerrar Sesión</a>
        </li>
      </ul>
    </aside>
    <!-- AQUI TERMINA EL MENU -->

    <div class="search">
      <div id="registro1">
          <h3>Desde esta ventana puede ingresar nuevos Médicos:</h3>
          <h3 class="bordebajo">Ingrese la informacion del Médico</h3>
          <div id="forma">
            <img src="../public/img/medico3.png"/>
          </div>

          <form method="POST" id="datosMedicos">
            <div class="contentInputs1">
                <div class="inputs">
                  <label for="nombre">Nombre: </label>
                  <input type="text" name="nombre" id="nombre"  />
                  <label for="cedula">Cédula: </label>
                  <input type="text" name="cedula" id="cedula"  />
                  <label for="edad">Edad: </label>
                  <input type="text" name="edad" id="edad"  />
                  <label for="sedes">Sede: </label>
                  <select id="sedes" name="sedes" >
                    <option>Alajuela</option>
                    <option>Limón</option>
                    <option>Cartago</option>
                    <option>Heredia</option>
                    <option>Puntarenas</option>
                    <option>Guanacaste</option>
                    <option>San José</option>
                  </select>
                </div>
          
                <div class="inputs">
                  <label for="nombre">Código: </label>
                  <input type="text" name="codigo" id="codigo"/>
                  <label for="cedula">Correo: </label>
                  <input type="text" name="correo" id="correo"/>
                  <label for="edad">Contraseña: </label>
                  <input type="text" name="contra" id="contra"  />
                  <label for="especialidad">Especialidad: </label>
          
                  <select id="especialidades" name="especialidades">
                    <option>Cirugía General</option>
                    <option>Cirugía Pediátrica</option>
                    <option>Cardiología</option>
                    <option>Dermatología</option>
                    <option>Geriatría</option>
                    <option>Ginecología y Obstetricia</option>
                    <option>Radiología</option>
                  </select>
                </div>
                  <input type="submit" value="Guardar" />
              </div>
            </form>
          </div>
      </div>
  </body>
</html>
