@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

@font-face {
  font-family: "TrebuchetMS";
  src: url(fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url(fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url(fonts/websymbols-regular-webfont.eot);
  src: url(fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(fonts/websymbols-regular-webfont.woff) format('woff'),
    url(fonts/websymbols-regular-webfont.ttf) format('truetype'),
    url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}



body {
  background-image: url("../img/FondoLogin.jpg");
  background-repeat: no-repeat;
  background-position: center 1px;
  background-size: cover;
  height: 25vh;
  min-height: 25rem;
}

body, input, button {
  font-family: 'BebasNeue', sans-serif;
}

.login {
  height: auto;
  padding: 15px;
  width: 400px;
  min-height: 400px;
  margin: 2% auto 0 auto;
  border-radius: 5px;
  margin-top: 200px;
  margin-left: 300px;
}

.login.heading {
  text-align: center;
  margin-top: 1%;
}

.login.heading.h2 {
  font-family: "BebasNeue";
  font-size: 3em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px;
}

form.input-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

form.input.form-control {

  padding: 10px;
  font-size: 1.6em;
  width: 100%;
  background: transparent;
}

button {
  margin-top: 20px;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
}

.boton {
  padding: .6rem 1rem;
  border: 1px solid #995309;
  border-radius: 4px;
  background-color: rgb(76, 202, 224);
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,
    0 1px 3px rgba(0, 0, 0, .2);
  background-image: linear-gradient(15%);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {}

@media only screen and (max-width : 1200px) {
  .login {
    width: 600px;
    font-size: 2em;
  }
}

@media only screen and (max-width : 1100px) {
  .login {
    margin-top: 2%;
    width: 600px;
    font-size: 1.7em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .login {
    margin-top: 1%;
    width: 550px;
    font-size: 1.7em;
    min-height: 0;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .login {
    margin-top: 0;
    width: 500px;
    font-size: 1.3em;
    min-height: 0;
  }
}
